@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlinkMacSystemFont";
  src: url("./fonts/BlinkMacSystemFont-UltralightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
